body,
a {
	color: #ffffff;
}

#site-header-nav {
	background-color: #39ac6a;
	height: 64px;
}

.site-navbar>li>a {
	font-size: 22px;
	padding: 21px 20px;
	font-weight: bold;
	font-family: "微软雅黑";
}

.site-navbar>li>a:hover,
.site-navbar>li>a:focus {
	background-color: #39ac6a!important;
	color: whitesmoke;
}

#site-logo-img {
	padding: 0!important;
}

#site-account {
	padding-left: 20px;
}

#site-account>ul>li>a {
	padding: 21px 20px;
	font-size: 18px;
	font-weight: normal!important;
}